.vscode/**
src/**
test/**
media/*.gen.js
**/*.drawio
media/README.md
media/ponpoko.svg
media/*.png
media/*.jpeg
media/*.jpg
**/*.map
node_modules/**
.gitignore
.vscodeignore
tsconfig.json
**/*.map
**/*.ts
.ponpoko-review/**
node_modules/**
